input[type=file] {
    color: #fff;
}

button[type="submit"] {
    color: #111;
}

.add-image-upload-field {
    border: none;
    color: #eee;
    background-color: #25382d; /* Site BG: #14171c; */
}