body {
    background-color: #14171c;
    margin: 0;
    padding-top: 70px;
}

h1 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

li {
    color: #ffffff;
    list-style: none;
}

a:hover {
    color: #c89960;
}

a:link, :visited {
    color: #ffffff;
}

button {
    color: #14171c;
}

button :visited {
    color: #14171c;
}

button a:link {
    color: #14171c;
}

.footer-div {
    width: 200px;
    margin: 0 auto;
}

/* -------------------------
    Media Queries
------------------------- */

@media (min-width: 980px) {
    body {
        padding-top: 70px;
    }
}
