/* -------------------------
    Main Styles
------------------------- */

.main-header, .nav {
    display: flex;
    flex-direction: column;
    background-color: #1a1d24;
}

.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 3px rgb(0, 0, 0, .4);
    z-index: 1;
}

.nav {
    position: relative;
    padding-right: 1em;
}

.site-logo {
    width: 110px;
    align-self: center;
    padding-left: 1em;
}

    .site-logo img {
        width: 85px;
        height: 41px;
    }

.nav a {
    display: block;
    color: #ffffff;
    font-size: 1.125em;
    font-weight: 300;
    text-align: center;
    padding: .4em;
    padding-top: 1em;
    text-decoration: none;
}

    .nav a:hover {
        color: #c89960;
    }

/* -------------------------
    Mobile Navbar
------------------------- */
/* Style the navigation menu */
.main-header {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.nav {
    display: none;
}

/* Style navigation menu links */
.main-header a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.main-header a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.main-header a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #4CAF50;
    color: white;
}

/* -------------------------
    Media Queries
------------------------- */

@media (min-width: 980px) {
    .main-header {
        height: 80px;
        justify-content: flex-end; /* Places main header at bottom/end of column */
        flex-direction: row;
        padding-bottom: 0;
    }

    .site-logo {
        width: 140px;
        margin-right: auto;
    }

    .nav {
        margin-top: 0;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
    }

    .nav a {
        border-bottom-color: transparent;
    }

    .nav li {
        margin-left: .65em;
        margin-right: 0.65em;
    }
}
