/* -------------------------
    Main Styles
------------------------- */

.main-header, .nav {
    display: flex;
    flex-direction: column;
    background-color: #1a1d24;
}

.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 3px rgb(0, 0, 0, .4);
    z-index: 1;
}

.site-logo {
    width: 110px;
    padding-left: 1em;
    padding-top: 1em;
}

.site-logo img {
    width: 85px;
    height: 41px;
}

.nav {
    display: none;
    text-align: center;
    width: 100%;
}

.nav a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
    color: #ffffff;
    font-size: 1.125em;
    font-weight: 300;
    text-align: center;
    padding: .4em;
    padding-top: 1em;
    text-decoration: none;
}

.nav a:hover {
    color: #c89960;
}

label {
    display: block;
    cursor: pointer;
    color: #ffffff;
    margin-bottom: 5px;
    flex-direction: row;
    margin-left: auto;
    padding-right: 1em;
}
#toggle {
    display: none;
}
#toggle:checked * .nav {
    display: block;
}

/* -------------------------
    Media Queries
------------------------- */

@media (min-width: 980px) {
    .main-header {
        height: 80px;
        justify-content: flex-end; /* Places main header at bottom/end of column */
        flex-direction: row;
        padding-bottom: 0;
    }

    .site-logo {
        width: 140px;
        margin-right: auto;
    }

    .nav {
        margin: 0 30px 0 0;

        display: flex;
        margin-top: 0;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
    }

    .nav a {
        border-bottom-color: transparent;
    }

    .nav li {
        margin-left: .65em;
        margin-right: .65em;
    }

    label {
        margin: 0 40px 0 0;
        font-size: 26px;
        line-height: 70px;

        display: none;
    }
}
