@model PortfolioWebsite.Models.Project

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = Model.Title;
}

<h1>@Model.Title</h1>
<div>@Model.Description</div>
@if (Model.Images.Length > 0)
{
    <div>
        <h2>Pictures:</h2>
        <ul>
            @foreach (var image in Model.Images)
            {
                <li>
                    <p>@image</p>
                </li>
            }
        </ul>
    </div>
}