@{
    Layout = null;

    var projectTitle = "Vault of Darkness";
    var description = "A mod for Warcraft III";
    var type = "Game Mod";
    var pictures = new String[]
    {
        "Pic1",
        "Pic2",
        "Pic3"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@projectTitle</h1>
        <p>Type: @type</p>
        <div>@Html.Raw(description)</div>
        @if (pictures.Length > 0)
        {
            <div>
                <h2>Pictures:</h2>
                <ul>
                    @foreach (var picture in pictures)
                    {
                        <li>
                            <p>@picture</p>
                        </li>
                    }
                </ul>
            </div>
        }

    </div>
</body>
</html>
