@model PortfolioWebsite.Models.Project

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = Model.Title;
}

<h1>@Model.Title</h1>
<p>@Model.Description</p>
<p>Test</p>
@if (@Model.Images.Length > 0)
{
    <ul>
        @foreach (var image in @Model.Images)
        {
            <li>
                <img src=image>
            </li>
        }
    </ul>
}