

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start slideshow -->
<div class="slideshow">
    <img class="slides" src="resources/screenshots-vod/1.png">
    <div class="slideshow-sub">
        <img class="slides fade" src="resources/screenshots-vod/2.png">
        <img class="slides fade" src="resources/screenshots-vod/3.jpg">
        <img class="slides fade" src="resources/screenshots-vod/4.png">
    </div>
    <button class="prev" onclick="plusDivs(-1)">&#10094;</button>
    <button class="next" onclick="plusDivs(+1)">&#10095;</button>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
</div>
<!-- end slideshow -->
<!-- start blog posts-->
<div class="main-content">
    <p>Alot of text.</p><br>
    <br>
    <p>Alot of text.</p><br>
    <br>
    <p>Alot of text.</p><br>
    <br>
    <p>Alot of text.</p><br>
    <br>
    <p>Alot of text.</p><br>
    <br>
    <p>Alot of text.</p><br>
    <br>
    <p>Alot of text.</p><br>
    <br>
    <p>Alot of text.</p><br>
    <br>
    <p>Alot of text.</p><br>
</div>
<!-- end blod posts -->
