@model PortfolioWebsite.Models.Project[]

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Projects";
}

<!-- start slideshow -->
<div class="slideshow">
    <img class="slides" src="~/Images/screenshots-vod/1.png">
    <div class="slideshow-sub">
        <img class="slides fade" src="~/Images/screenshots-vod/2.png">
        <img class="slides fade" src="~/Images/screenshots-vod/3.jpg">
        <img class="slides fade" src="~/Images/screenshots-vod/4.png">
    </div>
    <button class="prev" onclick="plusDivs(-1)">&#10094;</button>
    <button class="next" onclick="plusDivs(+1)">&#10095;</button>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
</div>
<!-- end slideshow -->

@foreach (var project in Model)
{
    <h1>@Html.ActionLink(project.Title, "Detail",
       new { id = project.Id })</h1>
    <p>@project.Description</p>
    <a href="@Url.Action("Detail", new { id = project.Id })">
        <img src=project.Images[0]>
    </a>
}