<!-- start header -->
    <header class="main-header">
        <a class="site-logo" href="/">
            <img class="site-logo-image" src="~/Images/logo.png" alt="Logo">
        </a>
        <label for="toggle">&#9776;</label>
        <input type="checkbox" id="toggle" />
        <ul class="nav">
            <li><a class="nav-item" href="@Url.Action("Index")">List</a></li>
            <li><a class="nav-item" href="@Url.Action("Slideshow")">Slideshow</a></li>
            <li><a class="nav-item" href="@Url.Action("Search")">Search</a></li>
            <li><a class="nav-item" href="@Url.Action("Grid")">Grid</a></li>
            <li><a class="nav-item" href="/">About</a></li>
        </ul>
    </header>
<!-- end header -->