<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title | A List of My Projects</title>

    <link rel="stylesheet" href="~/Content/CSS/base.css" />
    <link rel="stylesheet" href="~/Content/CSS/header.css" />
    <link rel="stylesheet" href="~/Content/CSS/dropdown.css" />
    <link rel="stylesheet" href="~/Content/CSS/content.css" />
    <link rel="stylesheet" href="~/Content/CSS/slideshow.css" />

    <script src="~/Scripts/stickynav.js"></script>
    <script src="~/Scripts/slideshow.js"></script>
</head>

<body>
    <div class="container">

        <!-- start header -->
        <header class="main-header">
            <a class="site-logo" href="/"><img src="resources/img/logo.png" alt="Logo"></a>
            <ul class="nav">
                <li><a href="news.html">News</a></li>
                <li><a href="software.html">Software</a></li>
                <li>
                    <div class="dropdown">
                        <a class="droplink" href="games.html">Games & Mods</a>
                        <div class="dropdown-content">
                            <ul>
                                <li><a href="games-vod.html">Vault of Darkness</a></li>
                                <li><a href="games-vod.html">Celestial Walkway</a></li>
                                <li><a href="games-vod.html">Bounty Hunters</a></li>
                                <li><a href="games-vod.html">Deepearth Caverns</a></li>
                                <li><a href="games-vod.html">RPG</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="art.html">Art</a></li>
            </ul>
        </header>
        <!-- end header -->

        <div class="container body-content">
            <!-- @RenderBody() -->
        </div>

        <footer>
            <p><small>&copy;2019 Fabian Fröding</small></p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>

</html>