<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title | A List of My Projects</title>

    <link rel="stylesheet" href="~/Content/CSS/base.css" />
    <link rel="stylesheet" href="~/Content/CSS/header.css" />
    <link rel="stylesheet" href="~/Content/CSS/slideshow.css" />
    <link rel="stylesheet" href="~/Content/CSS/index-list.css" />
    <link rel="stylesheet" href="~/Content/CSS/detail.css" />
    <link rel="stylesheet" href="~/Content/CSS/add.css" />

    <script src="~/Scripts/stickynav.js"></script>
    <script src="~/Scripts/slideshow.js"></script>
</head>

<body>
    <div class="container">
        @Html.Partial("_Header");

        <div class="container body-content">
            @RenderBody()
        </div>

        <footer>
            <p><small>&copy;2019 Fabian Fröding</small></p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>